<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vip Parser</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, shrink-to-fit=no,user-scalable=0">
  <link rel="icon" href="http://pic.yupoo.com/owendawn/7d83eaa2/ac62287a.png" type="image/x-icon" />
  <meta name="Keywords" content="vip解析,个人使用请勿用于商用传播">
  <meta name="Description" content="vip解析,个人使用请勿用于商用传播">
  <script crossorigin="anonymous" src="https://lib.baomitu.com/vue/2.6.11/vue.min.js"></script>
  <!-- 引入样式 -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/mint-ui@1/lib/style.css"> -->
  <link href="https://cdn.bootcdn.net/ajax/libs/mint-ui/2.2.13/style.min.css" rel="stylesheet">
  <!-- 引入组件库 -->
  <!-- <script src="https://unpkg.com/mint-ui@1/lib/index.js"></script> -->
  <script src="https://cdn.bootcdn.net/ajax/libs/mint-ui/2.2.13/index.js"></script>
  <!-- 基础样式 -->
  <link href="./asserts/base.css" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>

<body style="overflow: hidden;">
  <style>
    .mint-cell-wrapper {
      padding: 0;
    }

    .mint-cell-wrapper>.mint-cell-title {
      padding: 0 16px;
    }

    .mint-cell-value.is-link {
      margin-right: 32px;
    }

    .chooseDiv {
      background-image: linear-gradient(to top, #f1f0f0 10%, #ffffff 30%, #e2e2df 100%);
      padding: 0 6px;
      height: 1.2rem;
      /* padding-top: 0.1rem; */
      min-height: 0;
      display: block;
    }
    .chooseDiv .mint-cell-title{width: initial;}
    .chooseDiv .mint-cell-value input{background-color: initial;padding:0 32px;}
   
    .pickerTitle{
      /* flex-direction: row-reverse; */
      justify-content: center;
    }
    #root .compress{display:none;}
    #root.isfull .compress{display:block;}
    #root.isfull .content{height:100%!important;}
    #root.isfull .chooseDiv,#root.isfull .pannav{display:none;}
  </style>
  <div id="root" style="height:100%;">
    <pan-navbar title="VIP解析"></pan-navbar>

    <mt-field  class="chooseDiv" :placeholder="chooseParser" v-model="url">
      <mt-button type="primary" plain @click="showParserList" style="height:1rem;margin-top:0.1rem;font-size: 0.5rem;"><i class="fa fa-list"></i></mt-button>
      <mt-button type="default" plain @click="fullScreen" style="height:1rem;margin-top:0.1rem;font-size: 0.5rem;"><i class="fa fa-expand"></i></mt-button>
    </mt-field>
   
    <div class="content" style="background-color: black;height:calc(100% - 2.7rem);">
      <iframe width="100%" height="100%" :src="playUrl" style="border:0;"></iframe>
    </div>

    <div class="compress" style="position: fixed;top: 50%;right: 0.5rem;font-size: 0.6rem;width: 1.2rem;height: 1.2rem;background: rgba(192, 192, 192, 0.35);border-radius: 0.2rem;" @click="closeFullScreen">
      <div  style="color: rgba(255, 255, 255,0.3);width: 1rem;height: 1rem;margin-left: 0.1rem;margin-top: 0.1rem;text-align: center;line-height: 1rem;">
        <i class="fa fa-compress"></i>
      </div>
    </div>

    
    <mt-popup v-model="showParsePop" position="bottom" style="width: calc(100% - 48px);padding: 24px;">
      <mt-picker :slots="getVipParserData()" textAlign="center" :defaultIndex="chooseParserIndex" showToolbar="true" valueKey="name" content="name" @change="toggleVipParser"
        style="width: 100%;">
      </mt-picker>
      <div style="justify-content: space-around;display:flex;margin-top:24px;">
      <mt-button type="danger" size="small" plain @click="cancelChooseParse" style="width: 30%;"><i class="fa fa-cancel"> Cancel</i></mt-button>
      <mt-button type="primary" size="small" plain @click="chooseParse" style="width: 30%;"><i class="fa fa-ok"> Ok</i></mt-button>
    </div>
    </mt-popup>
  </div>
  <script src="./asserts/navbar.js"></script>
  <script src="./asserts/PanUtil.js"></script>
  <script>
    new Vue({
      el: '#root',
      data: {
        showParsePop: false,
        type: null,
        parser: null,
        chooseParser: '',
        chooseParserTemp: '',
        chooseParserIndex: -1,
        url:'',
        playUrl:'about:blank',
        vipParser: [
          { newTab: false, tengxun: true, youku: true, iqiyi: true, mangguo: false, url: "http://jiexi.071811.cc/jx.php?url=" },
          { newTab: false, tengxun: true, youku: true, iqiyi: false, mangguo: true, url: "http://jx.618ge.com/?url=" },
          { newTab: false, tengxun: true, youku: true, iqiyi: false, mangguo: true, url: "http://jx.618ge.com/jx/jx.php?url=" },
          { newTab: false, tengxun: true, youku: true, iqiyi: false, mangguo: true, url: "http://jx.du2.cc/?url=" },
          { newTab: false, tengxun: true, youku: true, iqiyi: false, mangguo: true, url: "http://vip.jlsprh.com/v/3.php?url=" },
          { newTab: false, tengxun: true, youku: true, iqiyi: false, mangguo: true, url: "http://jx.598110.com/?url=" },
          { newTab: false, tengxun: true, youku: true, iqiyi: false, mangguo: true, url: "http://jx.598110.com/zuida.php?url=" },
          { newTab: false, tengxun: true, youku: true, iqiyi: false, mangguo: true, url: "http://jiexi.380k.com/?url=" },
          { newTab: false, tengxun: true, youku: true, iqiyi: false, mangguo: true, url: "https://2.08bk.com/?url=" },
          { newTab: false, tengxun: true, youku: false, iqiyi: true, mangguo: true, url: "http://jqaaa.com/jx.php?url=" },


          { newTab: false, tengxun: true, youku: false, iqiyi: true, mangguo: false, url: "https://660e.com/?url=" },
          { newTab: false, tengxun: true, youku: false, iqiyi: true, mangguo: false, url: "http://yun.mt2t.com/lines?url=" },
          { newTab: false, tengxun: true, youku: false, iqiyi: false, mangguo: true, url: "http://jsap.attakids.com/?url=" },
          { newTab: false, tengxun: true, youku: false, iqiyi: false, mangguo: true, url: "http://api.bbbbbb.me/jiexi/?url=" },
          { newTab: false, tengxun: true, youku: false, iqiyi: false, mangguo: true, url: "http://api.bbbbbb.me/jx/?url=" },
          { newTab: false, tengxun: true, youku: false, iqiyi: false, mangguo: true, url: "http://okjx.cc/?url=" },


          { newTab: false, tengxun: true, youku: false, iqiyi: false, mangguo: false, url: "https://jx.618g.com/?url=" },
          { newTab: false, tengxun: true, youku: false, iqiyi: false, mangguo: false, url: "https://www.administratorw.com/video.php?url=" },
          { newTab: false, tengxun: true, youku: false, iqiyi: false, mangguo: false, url: "https://www.administratorw.com/admin.php?url=" },
          { newTab: false, tengxun: true, youku: false, iqiyi: false, mangguo: false, url: "http://17kyun.com/api.php?url=" },


        ]
      },
      mounted() {
        const rurl=this.uncompileStr(PanUtil.getURLSearchParams().u);
        let replaceStr='⇿'
         replaceStr='↔'
         replaceStr='↠'
         replaceStr='↝'
         replaceStr='⇴'
         replaceStr='⇝'
         replaceStr='↛'
         replaceStr='↣'
         replaceStr='⇻'
         replaceStr='↭'
        this.vipParser.forEach((it, idx, all) => {
          it.name = (it.tengxun ? 'ⓣ' : replaceStr)
            + "_" + (it.youku ? 'ⓨ' : replaceStr)
            + "_" + (it.iqiyi ? 'ⓘ' : replaceStr)
            + "_" + (it.mangguo ? 'ⓜ' : replaceStr)
            + " . " + this.getName(it.url)
            + (it.newTab ? ' +' : '');
            if(rurl.indexOf(it.url)==0){
              const vurl=rurl.substring(it.url.length);
              this.url=rurl.substring(it.url.length);
              if(vurl){
              this.playUrl=rurl;
              }else{
                this.playUrl="about:blank"
              }
            }
        })
        this.chooseParser = this.vipParser[0].name
        this.chooseParserTemp = this.vipParser[0].name
        this.chooseParserIndex=0;
        
        
      },
      methods: {
        closeFullScreen(){
          document.getElementById('root').className=""
        },
        fullScreen(){
          document.getElementById('root').className="isfull"
        },
        chooseParse() {
          this.showParsePop = false;
          this.chooseParser=this.chooseParserTemp;
          this.vipParser.forEach((it,idx,all)=>{
            if(it.name===this.chooseParserTemp){
              this.chooseParserIndex=idx;
              const url=it.url+this.url;
              if(!this.url){
                window.location.href="vipparse.html";
              }else if(it.newTab){
                this.playUrl="about:blank"
                window.open(url);
              }else{
                window.location.href="vipparse.html?u="+this.compileStr(url);
              }
            }
          })
        },
        cancelChooseParse() {
          this.showParsePop = false;
        },
        parseListFormatter() {
          console.log(arguments)
        },
        getVipParserData() {
          return [{
            divider: true,
            flex: 3,
            content: '解析策略',
            className: 'bolder pickerTitle',
            textAlign: 'middle'
          }, {
            flex: 7,
            values: this.vipParser.map((it, idx, all) => it.name),
            className: 'slot1',
            textAlign: 'left'
          }]
        },
        showParserList() {
          this.showParsePop = true;
          this.chooseParserTemp=this.chooseParser;
        },
        toggleVipParser(dom, arr) {
          this.chooseParserTemp=arr[0]
        },
        getName(url) {
          url = url.replace("http://", "").replace("https://", "");
          url = url.substring(0, url.indexOf("/"));
          let arr = url.split(".");
          if (arr.length == 3) {
            return arr[1];
          } else if (arr.length === 2) {
            return arr[0];
          }
        },

        compileStr(code) {
          var c = String.fromCharCode(code.charCodeAt(0) + code.length);
          for (var i = 1; i < code.length; i++) {
            c += String.fromCharCode(code.charCodeAt(i) + code.charCodeAt(i - 1));
          }
          return escape(c);
        },
        uncompileStr(code) {
          code = unescape(code);
          var c = String.fromCharCode(code.charCodeAt(0) - code.length);
          for (var i = 1; i < code.length; i++) {
            c += String.fromCharCode(code.charCodeAt(i) - c.charCodeAt(i - 1));
          }
          return c;
        }
      }
    })
  </script>
</body>

</html>